  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/produits/2">Hamac</a></li>
    <li><a routerLink="/produits/3">Parasol</a></li>
    <li class="divider"></li>
    <li><a routerLink="/produits/5467215">Produit non-trouvé (nombre supérieur)</a></li>
    <li><a routerLink="/produits/-156422">Produit non-trouvé (nombre négatif)</a></li>
    <li><a routerLink="/produits/babar">Produit non-trouvé (chaine de caractères)</a></li>  
  </ul>
  <nav class="teal">
    <div class="nav-wrapper container">
      <a routerLink="/" class="brand-logo">Accueil</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/produits">Liste des produits</a></li>
        <li><a routerLink="/produits/modification">Formulaire de modification</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Détail des produits<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

<!--
  La balise qui gère le routage
  Elle insère/retire automatiquement les sélecteurs des components
-->
<main class="container">
  <router-outlet></router-outlet>
</main>


<p>Paragraphe présent dans le fichier "index.html"</p>
